:root{
    --primary-font: 'Roboto', sans-serif;
    --secondory-font: 'Raleway', sans-serif;
    --accent-color: #2196F3;
    --primary-color: #212121;
    --secondory-color: #FFFFFF;
    --text-color: #757575;
}

.list{
    list-style: none;
}
.link{
    text-decoration: none;
}

body{
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--primary-color);
}    
/* --components-- */
.logo {
    font-family: var(--secondory-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.logo-item-header {
    color: #000000;
}
.logo-item-footer {
    color: var(--secondory-color);
}

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}
/* --components-- */

/* --page header-- */

.menu-link{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: inherit;
}
.menu-link:hover,
.menu-link:focus{
    color: var(--accent-color);
}
.menu .menu-link.curent {
    color: var(--accent-color);
}
.contact-header-link{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.contact-header-link:hover,
.contact-header-link:focus{
    color: var(--accent-color);
}

/* --/page header-- */

/* --section hero-- */
.hero{
    background-color: #2F303A;
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondory-color);
}
.hero-button{
    font-family: inherit;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--secondory-color);
}
.hero-button:hover,
.hero-button:focus{
    background-color: #188CE8;
    color: var(--secondory-color);
}

/* --/section hero-- */

/* --section credo-- */
.credo-title{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.credo-text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
/* --/section credo-- */

/* --section our team-- */
.our-team-image-title{
    font-weight: 500;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.our-team-image-text{
    line-height: 1.19;
    text-align: center;
    color: var(--text-color);
    letter-spacing: 0.03em;
}
/* --/section our team-- */

/* --footer-- */

.page-footer{
    background-color: #2F303A;
}

.contact-link{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.adress-text {
    color: var(--secondory-color);
}
.contact-link:hover,
.contact-link:focus{
    color: var(--accent-color);
}

/* --/footer-- */

/* --section portfolio--  */

.portfolio-navigation-button{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.63;
    cursor: pointer;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    color: inherit;
}
.portfolio-navigation-button:hover,
.portfolio-navigation-button:focus{
    background-color: var(--accent-color);
    color: var(--secondory-color);
}
.portfolio-works-item-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio-works-item-text{
    line-height: 1.86;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
/* --/section portfolio--  */